In this exercise, you'll redo the data gathering phase of the UNData Exploration project by using APIs instead of downloading csv files.

You'll make use of the World Bank Indicators API. Note that this API does not require an API key. Before attempting the exercise, it would be a good idea to skim through the Documentation page and to check out the Basic Call Structure article.

Use the API to get all available data for the GDP per capita, PPP (constant 2017 international $) indicator. Hint: this indicator has code "NY.GDP.PCAP.PP.KD". Adjust the query parameters so that you can retrieve all available rows. Convert the results to a DataFrame.

Now, use the API to get all available data for Life expectancy at birth, total (years). This indicator has code "SP.DYN.LE00.IN". Again, convert the results to a DataFrame.

Merge the two results DataFrames together. You may want to rename or drop columns prior to merging.

You can also get more information about the available countries (region, capital city, income level classification, etc.) by using the Country API. Use this API to pull in all available data. Merge this with your other datasets. Use this to now remove the rows that correspond to regions and not countries.

In [9]:
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
## does not need api key
endpoint = 'https://api.worldbank.org/v2/country/all/indicator/NY.GDP.PCAP.PP.KD?format=json'
endpoint2 = 'https://api.worldbank.org/v2/country/all/indicator/SP.DYN.LE00.IN?format=json'
## couldn't get indicators to properly append to endpoints, temp fix?
response = requests.get(endpoint)
res1=response.json()
response_real = res1[1]
response2 = requests.get(endpoint2)
res2=response2.json()
response_real2 = res2[1]

In [11]:
df_data = []
for entry in response_real:
    df_data.append({
        'Country': entry['country']['value'],
        'Country Code': entry['countryiso3code'],
        'Indicator': entry['indicator']['value'],
        'Indicator Code': entry['indicator']['id'],
        'Year': int(entry['date']),
        'Value': entry['value']})
df = pd.DataFrame(df_data)
print(df.head())

                       Country Country Code  \
0  Africa Eastern and Southern          AFE
1  Africa Eastern and Southern          AFE
2  Africa Eastern and Southern          AFE
3  Africa Eastern and Southern          AFE
4  Africa Eastern and Southern          AFE

                                           Indicator     Indicator Code  Year  \
0  GDP per capita, PPP (constant 2021 internation...  NY.GDP.PCAP.PP.KD  2024
1  GDP per capita, PPP (constant 2021 internation...  NY.GDP.PCAP.PP.KD  2023
2  GDP per capita, PPP (constant 2021 internation...  NY.GDP.PCAP.PP.KD  2022
3  GDP per capita, PPP (constant 2021 internation...  NY.GDP.PCAP.PP.KD  2021
4  GDP per capita, PPP (constant 2021 internation...  NY.GDP.PCAP.PP.KD  2020

         Value
0  3968.963751
1  3948.142721
2  3974.244214
3  3933.580905
4  3861.068816

In [12]:
df_data2 = []
for entry in response_real2:
    df_data2.append({
        'Country': entry['country']['value'],
        'Country Code': entry['countryiso3code'],
        'Indicator': entry['indicator']['value'],
        'Indicator Code': entry['indicator']['id'],
        'Year': int(entry['date']),
        'Value': entry['value']})
df2 = pd.DataFrame(df_data2)
print(df2.head())

                       Country Country Code  \
0  Africa Eastern and Southern          AFE
1  Africa Eastern and Southern          AFE
2  Africa Eastern and Southern          AFE
3  Africa Eastern and Southern          AFE
4  Africa Eastern and Southern          AFE

                                 Indicator  Indicator Code  Year      Value
0  Life expectancy at birth, total (years)  SP.DYN.LE00.IN  2024        NaN
1  Life expectancy at birth, total (years)  SP.DYN.LE00.IN  2023  65.146291
2  Life expectancy at birth, total (years)  SP.DYN.LE00.IN  2022  64.487020
3  Life expectancy at birth, total (years)  SP.DYN.LE00.IN  2021  62.979999
4  Life expectancy at birth, total (years)  SP.DYN.LE00.IN  2020  63.766484

In [13]:
df = df.drop(columns=['Indicator', 'Indicator Code', 'Country Code'])
df = df.rename(columns = { 'Value' : 'GDP per capita'})
df

                        Country  Year  GDP per capita
0   Africa Eastern and Southern  2024     3968.963751
1   Africa Eastern and Southern  2023     3948.142721
2   Africa Eastern and Southern  2022     3974.244214
3   Africa Eastern and Southern  2021     3933.580905
4   Africa Eastern and Southern  2020     3861.068816
5   Africa Eastern and Southern  2019     4073.653989
6   Africa Eastern and Southern  2018     4088.402831
7   Africa Eastern and Southern  2017     4085.466233
8   Africa Eastern and Southern  2016     4074.187591
9   Africa Eastern and Southern  2015     4075.159661
10  Africa Eastern and Southern  2014     4052.024693
11  Africa Eastern and Southern  2013     3990.237578
12  Africa Eastern and Southern  2012     3930.400726
13  Africa Eastern and Southern  2011     3923.037218
14  Africa Eastern and Southern  2010     3862.651279
15  Africa Eastern and Southern  2009     3768.186016
16  Africa Eastern and Southern  2008     3836.019073
17  Africa Eastern and Southern  2007     3766.897179
18  Africa Eastern and Southern  2006     3620.751947
19  Africa Eastern and Southern  2005     3482.940809
20  Africa Eastern and Southern  2004     3361.793730
21  Africa Eastern and Southern  2003     3263.224449
22  Africa Eastern and Southern  2002     3247.655911
23  Africa Eastern and Southern  2001     3207.570295
24  Africa Eastern and Southern  2000     3175.467232
25  Africa Eastern and Southern  1999     3156.349945
26  Africa Eastern and Southern  1998     3154.037654
27  Africa Eastern and Southern  1997     3176.422609
28  Africa Eastern and Southern  1996     3132.145150
29  Africa Eastern and Southern  1995     3047.018457
30  Africa Eastern and Southern  1994     2992.566301
31  Africa Eastern and Southern  1993     3022.859879
32  Africa Eastern and Southern  1992     3133.974586
33  Africa Eastern and Southern  1991     3292.714638
34  Africa Eastern and Southern  1990     3385.675600
35  Africa Eastern and Southern  1989             NaN
36  Africa Eastern and Southern  1988             NaN
37  Africa Eastern and Southern  1987             NaN
38  Africa Eastern and Southern  1986             NaN
39  Africa Eastern and Southern  1985             NaN
40  Africa Eastern and Southern  1984             NaN
41  Africa Eastern and Southern  1983             NaN
42  Africa Eastern and Southern  1982             NaN
43  Africa Eastern and Southern  1981             NaN
44  Africa Eastern and Southern  1980             NaN
45  Africa Eastern and Southern  1979             NaN
46  Africa Eastern and Southern  1978             NaN
47  Africa Eastern and Southern  1977             NaN
48  Africa Eastern and Southern  1976             NaN
49  Africa Eastern and Southern  1975             NaN

In [14]:
df2 = df2.drop(columns=['Indicator', 'Indicator Code', 'Country Code', 'Year'])
df2 = df2.rename(columns = { 'Value' : 'Life expectancy at birth'})
df2

                        Country  Life expectancy at birth
0   Africa Eastern and Southern                       NaN
1   Africa Eastern and Southern                 65.146291
2   Africa Eastern and Southern                 64.487020
3   Africa Eastern and Southern                 62.979999
4   Africa Eastern and Southern                 63.766484
5   Africa Eastern and Southern                 63.857261
6   Africa Eastern and Southern                 63.330691
7   Africa Eastern and Southern                 62.591275
8   Africa Eastern and Southern                 62.167981
9   Africa Eastern and Southern                 61.713031
10  Africa Eastern and Southern                 61.251436
11  Africa Eastern and Southern                 60.895740
12  Africa Eastern and Southern                 60.249512
13  Africa Eastern and Southern                 59.200004
14  Africa Eastern and Southern                 58.827279
15  Africa Eastern and Southern                 58.095527
16  Africa Eastern and Southern                 57.240106
17  Africa Eastern and Southern                 56.484353
18  Africa Eastern and Southern                 55.693515
19  Africa Eastern and Southern                 54.807681
20  Africa Eastern and Southern                 54.192928
21  Africa Eastern and Southern                 53.678305
22  Africa Eastern and Southern                 53.206744
23  Africa Eastern and Southern                 52.875536
24  Africa Eastern and Southern                 52.557342
25  Africa Eastern and Southern                 51.807077
26  Africa Eastern and Southern                 51.317955
27  Africa Eastern and Southern                 51.570887
28  Africa Eastern and Southern                 51.353190
29  Africa Eastern and Southern                 51.482057
30  Africa Eastern and Southern                 50.966589
31  Africa Eastern and Southern                 51.073762
32  Africa Eastern and Southern                 50.715946
33  Africa Eastern and Southern                 50.873244
34  Africa Eastern and Southern                 51.096326
35  Africa Eastern and Southern                 51.265874
36  Africa Eastern and Southern                 50.876607
37  Africa Eastern and Southern                 51.068943
38  Africa Eastern and Southern                 50.009761
39  Africa Eastern and Southern                 49.392902
40  Africa Eastern and Southern                 48.997959
41  Africa Eastern and Southern                 48.904096
42  Africa Eastern and Southern                 50.290829
43  Africa Eastern and Southern                 50.020493
44  Africa Eastern and Southern                 49.816713
45  Africa Eastern and Southern                 49.416988
46  Africa Eastern and Southern                 48.983917
47  Africa Eastern and Southern                 48.860725
48  Africa Eastern and Southern                 48.568138
49  Africa Eastern and Southern                 47.968548

In [15]:
test_merge = pd.merge(df, df2,
                      left_on = 'Country', right_on = 'Country',
                      how = 'inner')
test_merge

,Country,Year,GDP per capita,Life expectancy at birth
0,Africa Eastern and Southern,2024,3968.963751,NaN
1,Africa Eastern and Southern,2024,3968.963751,65.146291
2,Africa Eastern and Southern,2024,3968.963751,64.487020
3,Africa Eastern and Southern,2024,3968.963751,62.979999
4,Africa Eastern and Southern,2024,3968.963751,63.766484
...,...,...,...,...
2495,Africa Eastern and Southern,1975,NaN,49.416988
2496,Africa Eastern and Southern,1975,NaN,48.983917
2497,Africa Eastern and Southern,1975,NaN,48.860725
2498,Africa Eastern and Southern,1975,NaN,48.568138
2499,Africa Eastern and Southern,1975,NaN,47.968548